<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115600827069-1idqc9msgpf2sed0q3klpnd3ba2ls989.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115600827069-1idqc9msgpf2sed0q3klpnd3ba2ls989</string>
	<key>API_KEY</key>
	<string>AIzaSyCU-6J8PSiF_hazKe1qsQl3_-_fhEEE7ls</string>
	<key>GCM_SENDER_ID</key>
	<string>115600827069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.bhatt.bhavik.SwiftuiSocialMediaProject</string>
	<key>PROJECT_ID</key>
	<string>swiftuisocialmediaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuisocialmediaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115600827069:ios:3a6c438ca57a623a11cdd4</string>
</dict>
</plist>